{% extends "base.html" %}

{% block content %}

{% with cars.all|first as city %}
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'cars:city_list'%}">Cars</a></li>
    <li class="breadcrumb-item active">{{ city.car_city }}</li>
  </ol>
</nav>
{% endwith %}



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready( function () {
    $('#car-list').DataTable( {
    "paging":   false,
    }
    );
} );
</script>



<table id="car-list" class="table table-striped table-bordered table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            <td>Car name</td>
            <td>Last check</td>
            <td>Driven kms</td>
            <td>Next <i class="fas fa-wrench"></i> date</td>
            <td>Next <i class="fas fa-wrench"></i> kms</td>
        </tr>
    </thead>
    <tbody>
    {% for car in cars %}
        <tr>
            <td><a href="{{ car.pk }}">{{ car.car_name }}</a></td>
            <td>{{ car.car_last_check|date:'d.m.' }}</td>
            <td>{{ car.car_actual_driven_kms }}</td>
            <td>{{ car.car_next_date|date:'d.m.y' }}</td>
            <td>{{ car.car_next_km }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}