{% extends "base.html" %}

{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Tasks</li>
    <li class="breadcrumb-item active">Create new</li>
  </ol>
</nav>
<p></p>
{% if msg %}
<div class="alert alert-primary" role="alert">
  I have created {{ msg }} new tasks.
</div>
{% endif %}

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'tasks:create_service_tasks' %}"> Create service tasks </a>
    <a class="list-group-item list-group-item-action" href="{% url 'tasks:create_check_tasks' %}"> Create check tasks </a>
</div>



<p></p>

{% endblock %}