{% extends "base.html" %}


{% block content %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'tasks:tasks_index'%}">Tasks</a></li>
        <li class="breadcrumb-item"><a href="{% url 'tasks:'|add:view.kwargs.last|add:'_tasks' %}">{{ view.kwargs.last|title }} tasks</a></li>
        <li class="breadcrumb-item active">{{ task.name }}</li>
    </ol>
</nav>

<a href="{% url 'tasks:task_edit' last=view.kwargs.last pk=task.pk %}" class="btn btn-warning"><i class="fas fa-pen"></i> Edit</a>&ensp;
<a href="{% url 'cars:car_detail' city=task.car.car_city.pk pk=task.car.pk %}" class="btn btn-primary"><i class="fas fa-car"></i> Go to car page</a>&ensp;
{% if not task.completed %}
<a href="{% url 'tasks:task_complete' last=view.kwargs.last pk=task.pk %}" class="btn btn-success"><i class="fas fa-check"></i> Completed</a>
{% endif %}

<p></p>
<h3>Task: {{ task.name }}</h3>
{% if task.completed %}
<div class="alert alert-success" role="alert">
  Task is completed!
</div>
{% endif %}

{% if task.is_past_due %}
<div class="alert alert-warning" role="alert">
  Task is past due!
</div>
{% endif %}

<ul class="list-group ">
    <li class="list-group-item list-group-item-action">Car: {{ task.car }}</li>
    <li class="list-group-item list-group-item-action">City: {{ task.city }}</li>
    <li class="list-group-item list-group-item-action">Person: {{ task.user }}</li>
    <li class="list-group-item list-group-item-action">Description: {{ task.description|linebreaks }}</li>
    <li class="list-group-item list-group-item-action">Created date: {{ task.created_date }}</li>
    {% if task.completed %}
    <li class="list-group-item list-group-item-action">Completed date: {{ task.completed_date }}</li>
    {% else %}
    <li class="list-group-item list-group-item-action">Due date: {{ task.due_date }}</li>
    {% endif %}
</ul>
<p></p>

{% endblock %}