{% extends "base.html" %}

{% block content %}


<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'tasks:tasks_index'%}">Tasks</a></li>
    <li class="breadcrumb-item active">{{ actual_page }}</li>
  </ol>
</nav>




<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>

<script>
$(document).ready( function () {
    $.fn.dataTable.moment( 'DD.MM.YY' );
    $('#task-list').DataTable( {
    "paging":   false,
    }
    );
} );
</script>


<table id="task-list" class="table table-responsive table-striped table-bordered table-hover table-sm"
       style="width:100%">
    <thead>
        <tr>
            <td>Task Name</td>
            <td>Car</td>
            {% if not last == 'my' %}
            <td>User</td>
            {% endif %}
            {% if last == 'completed' %}
            <td>Completed at</td>
            {% else %}
            <td>Due date</td>
            {% endif %}
            <td>City</td>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td><a href="{% url 'tasks:task_detail' last=last pk=task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.car }}</td>
            {% if not last == 'my' %}
            <td>{{ task.user }}</td>
            {% endif %}
            {% if last == 'completed' %}
            <td>{{ task.completed_date|date:'d.m.y' }}</td>
            {% else %}
            <td>{{ task.due_date|date:'d.m.y' }}</td>
            {% endif %}
            <td>{{ task.city }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}