{% extends "base.html" %}

{% block content %}


<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'tasks:tasks_index'%}">Tasks</a></li>
    <li class="breadcrumb-item active">{{ actual_page }}</li>
  </ol>
</nav>




<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready( function () {
    $('#car-list').DataTable( {
    "paging":   false,
    }
    );
} );
</script>



<table id="car-list" class="table table-striped table-bordered table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            <td>Task Name</td>
            <td>Car</td>
            <td>User</td>
            <td>Due date</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td><a href="{{ task.pk }}">{{ task.name }}</a></td>
            <td>{{ task.car }}</td>
            <td>{{ task.user }}</td>
            <td>{{ task.due_date|date:'d.m.' }}</td>
            <td>{{ task.city }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}