{% extends "base.html" %}

{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Tasks</li>
  </ol>
</nav>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'tasks:my_tasks' %}"> My tasks </a>
    <a class="list-group-item list-group-item-action" href="{% url 'tasks:active_tasks' %}"> All active tasks </a>
</div>
<p></p>
{% if user.is_staff %}
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'tasks:unassigned_tasks' %}"> Unassigned </a>
    <a class="list-group-item list-group-item-action" href="{% url 'tasks:pastdue_tasks' %}"> Past Due </a>
    <a class="list-group-item list-group-item-action" href="#"> Completed </a>
    <a class="list-group-item list-group-item-action" href="#"> Create new </a>
</div>
{% endif %}

<p></p>

{% endblock %}