body {
  background-color: #2d1b1e;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

.navbar {
    background-color: #5baf0c;
}

.dataTables_filter {
    margin-right: 1em;
    text-align: center !important;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
}

.content {
    background-color: white;
    padding: 0.3em 0.3em 2em;
    margin-bottom: 2em;
}

.btn {
    margin-bottom: .2rem;
}

.tasks-list p {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.fa-exclamation {
    color: #ffc300;
}