body {
  background-color: #2d1b1e;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
    font-weight: 600;
}

.navbar {
    background-color: #5baf0c;
}

.content {
    background-color: white;
    padding: 15px;
}

.btn {
    margin-bottom: .2rem;
}

.tasks-list p {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

#warning-backgroud {
    background-color: #ffeeba;
}