{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome to Vemama!</h1>
        <p>Start working by choosing one of Tasks or Cars! Keep up good work!</p>
        <div class="row" style="margin: .3rem">
            <div class="col-sm-6" style="padding: 0.3rem">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">My tasks</h5>
                        <p class="card-text">You have <span class="badge badge-primary">{{ tasks_num }}</span> tasks.
                            {% if tasks_num_over %}
                                <br>And <span class="badge badge-warning">{{ tasks_num_over }}</span> of them are
                                overdue!
                            {% endif %}</p>

                        <a href="{% url 'tasks:my_tasks' %}" class="btn btn-primary">Go to my tasks</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding: 0.3rem">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Tasks stats</h5>
                        <p class="card-text">There are <span class="badge badge-primary">{{ total_tasks }}</span> tasks,<br>
                            and <span class="badge badge-warning">{{ total_overdue }}</span> of them are past due date.
                        <p>
                        <p class="card-text">
                            Its nice to see, that <span class="badge badge-success">{{ total_tasks_completed }}</span>
                            are completed! <br>
                            Thanks to <span class="badge badge-info">{{ active_workers }}</span>
                            staff members for this awesome work!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="padding: 0.3rem">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Car stats</h5>
                        <p class="card-text">We have <span class="badge badge-primary">{{ active_cars }}</span> active
                            cars<br>
                            We will never forget for <span class="badge badge-secondary">{{ inactive_cars }}</span> cars
                            which
                            are no longer with us.</p>
                        <p>You helped to drive <span class="badge badge-success">{{ total_driven_km }} kms</span>
                            in safe and clean cars.
                            <br>Thank you again!</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Please log-in</h1>
        <p>If you want to do some work, you need to be logged in.</p>
    {% endif %}
    <p></p>
{% endblock %}